body {   
    background-image: url(/pictures/tomb.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
  }
  
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }
  
  .game-info {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px #000000;
    border-width: 5px;
    border-radius: 12px;
    border-color: black;
    font-size: 4em;
  }
  .time{
    font-size: 2rem;
    margin-left: 100px;
  }
